.youTube-div{
    position: relative;

}

.stats-banner{

        background: url('../../../assets/nzulezu.jpg');
        object-fit: cover;
        width: 100vw;
        height: 600px;
        background-repeat: no-repeat;
    
        background-position: center;
        background-size: cover;
        position: relative;
        overflow-x: hidden;
    
}



.stats-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
}

.youtube-player{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
   right: 0;
}

  .glightbox_video {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    cursor: pointer;
    }
  
  .outer_circle {
    stroke-width: 3;
    stroke-dasharray: 410; 
     stroke-dashoffset: 0;
    stroke-linecap: square;
    transition: all .4s ease-out;
    cursor: pointer;
  }
  
  .glightbox_video:hover .outer_circle {
  stroke-dashoffset:410;
    transition: stroke .7s .4s ease-out, stroke-dashoffset .4s ease-out
  }
  
  .glightbox_video:hover 
  .inner-circle {
    fill: #BF2428;
    transition:fill .4s .3s ease-out;
    
  }
  
  .glightbox_video:hover
  .play{
      fill: white;
    transition:fill .4s .3s ease-out;
  }




.stats-banner-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

 
}

.stats-banner-info h2{
    font-size: 40px;
      color: #fff;
      z-index: 1;
      text-align: center;
      margin-top: 6rem;
      text-transform: uppercase;
}

.stats-banner-info p{
    color: #d6c9c9;
    text-align: center;
    z-index: 1;
    font-size: 20px;
}



.close-yt{
   position: relative;
   top: -100%;
   right: -90%;
    background-color: red;
    border: 0;
    padding:  10px 15px;
    border-radius: 100%;
    cursor: pointer;
    color: #fff;
    font-weight: 900;
}


@media screen and (min-width: 700px) {
    .stats-banner-info h2{
        font-size: 50px;
    }
}